# Ignore bundler config.
/.bundle

# Ignore log files and temp files.
/log/*
!/log/.keep
/tmp

# Ignore database files.
/*.sqlite3
/db/*.sqlite3

# Ignore Rails master key and credentials.
/config/master.key
/config/credentials.yml.enc

# Ignore node modules and yarn files (if using js bundling)
/node_modules
/yarn-error.log

# Ignore byebug command history file.
.byebug_history

# Ignore coverage reports.
/coverage/

# Ignore system test screenshots.
/spec/examples.txt
/spec/system/screenshots/

# Ignore public assets (if precompiled)
/public/assets

# Ignore .env files
/.env
/.env.*
